body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.drawArea {
  width: 800px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: crosshair;
  z-index: -1;
  position: absolute;
  top: 0px;
  bottom: 0;
}
.drawArea2 {
  width: 800px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: crosshair;
  z-index: -1;
  position: absolute;
  top: 600px;
  bottom: 0;
}

.path {
  fill: none;
  stroke-width: 10px;
  stroke: green;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}

.toolbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 50px;
  background-color: lightgray;
  top: 0px;
}

.footer {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 200px;
  background-color: lightgray;
  bottom: 0px;
}
